.clickable-teams-label {
  color: steelblue;
}

.team-list-item {
  color: steelblue;
}

#select-wrapper {
  font-size: 14pt;
}

#country-select {
  font-size: 11pt;
}

html {
  background-color: whitesmoke;
}

ol {
  list-style-type: none;
}

ul.league-ul {
  list-style-type: none;
}

ul.team-details-ul {
  width: 55%;
  margin: auto;
  padding-top: 20px;
  text-align: left;
}

#main {
  font-family: 'Cantarell', sans-serif;
  align-self: center;
  margin: 20px;
}

#title {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 30pt;
}

#leagues-container {
  display: flex;
  margin: 20px;
}

#leagues-container-left {
  flex: 50%;
}

#leagues-container-right {
  flex: 50%;
}

.team-list-item {
  padding-bottom: 2px;
}

div.team-div {
  text-align: center;
  height: 80%;
  overflow: auto;
  zoom: 1;
  width: 600px;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.team-header {
  margin-top: 20px;
}
